PROJECT_NAME=PortSynAI API
ENVIRONMENT=development
DEBUG=True

DATABASE_URL=postgresql+psycopg2://portsynai:portsynai_dev_pw@localhost:5432/portsynai_db

JWT_SECRET_KEY=CHANGE_ME_IN_PRODUCTION_super_secret_key_2026
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
